ruby:
  edit_url = current_page.data["edit_url"] || "https://github.com/danger/danger-js/edit/main/docs/#{current_resource.path.gsub("js/", "")}.md"

= wrap_layout :layout_js do
  .clearfix
  section.guide
    article  
      h1.vibrant == current_page.data["subtitle"]
      
      .article_body
        == yield

      hr
      p == "Got improvements? Help improve this document via <a href= '#{edit_url}'>sending PRs</a>."
